# Analysis of Artwork from the Metropolitan Museum of Modern Art

## Import Functions

Import the reader function from the csv module

In [0]:
from csv import reader
import pandas as pd
import math

## Open Dataset

Import the drive function to access Google Drive datasets

In [0]:
# GOOGLE DRIVE
#from google.colab import drive
#drive.mount('/content/drive')

# use the python built-in function open() to open the children.csv file
#opened_file = open('/content/drive/My Drive/Colab Notebooks/MOMA Artwork Analysis/artworks.csv')

In [0]:
# LOCAL MACHINE
opened_file = open('artworks.csv')
df = pd.read_csv('artworks.csv')

In [0]:
counter = 0
for row in moma[:2000]:
    print(counter)
    print(row[3])
    print("")
    counter += 1

In [0]:
df.head(700)

In [0]:
x = NaN

In [0]:
# use csv.reader() to parse the data from the opened file
read_file = reader(opened_file)

In [0]:
# use list() to convert the read file into a list of lists format
moma = list(read_file)

## Clean Data

In [0]:
# remove the first row of the data, which contains the column names
moma = moma[1:]

In [0]:
# remove parentheses from data in Nationality column
for row in moma:
    nationality = row[2]
    nationality = nationality.replace("(","")
    nationality = nationality.replace(")","")
    row[2] = nationality

In [0]:
# remove parentheses from data in Gender column
for row in moma:
    gender = row[5]
    gender = gender.replace("(","")
    gender = gender.replace(")","")
    row[5] = gender

Capitalize data in 'Gender' column and add a placeholder value where no data exists

In [0]:
for row in moma:
    gender = row[5]
    # convert the gender to title case
    gender = gender.title()
    # if there is no gender, set
    # a descriptive value
    if not gender:
        gender = "Gender Unknown/Other"
    row[5] = gender

Capitalize data in 'Nationality' column and add a placeholder value where no data exists

In [0]:
for row in moma:
    nationality = row[2]
    # convert nationality to title case
    nationality = nationality.title()
    # if there is no nationality, set a descriptive value
    if not nationality:
        nationality = "Nationality Unknown"
    row[2] = nationality

Create function that cleans a date input

In [0]:
def clean_and_convert(date):
    #date = date.replace(np.nan, 0)
    #date = str(date)
    
        date = str(date)
        
    
    # check if date includes a preceding hyphen
    if date[0] == '-':
        date = date[1:]
        
    # check if date represents a range of years
    if '-' in date:
        # if the value is a range of years, split the values by the hyphen
        mult_years = date.split('-')
        year_sum = 0
        # loop through multiple years
        for year in mult_years:
            year = int(year)
            year_sum += year
        # calculate average between beginning and end year of a range    
        date = round(year_sum / 2)
        
    # check if date has parentheses
    if date != "":
        # remove parentheses
        date = date.replace("(", "")
        date = date.replace(")", "")
        
    # check if date includes a space
    if ' ' in date:
        # if the value is a range of years, split the values by the hyphen
        mult_years = date.split(' ')
        if mult_years[0] == '0':
            date = mult_years[1]
        else:
            date = mult_years[0]
    
    if len(date) > 4:
        date = date[:4]
        
    # convert date to int 
    if date == '':
        date = 0
    else:
        date = int(date)
        
    # return clean date
    return date

In [0]:
# create list of characters to be removed from dataset
bad_chars = ["(",")","c","C",".","s","'", " "]

In [0]:
# define function that inputs string and removes any character from the bad_chars list
def strip_characters(string):
    for char in bad_chars:
        string = string.replace(char,"")
    return string

In [0]:
print(clean_and_convert(moma[65][3]))

In [0]:
try:
    counter = 0
    for row in moma:
        
        counter += 1
        print("counter:")
        print(counter)
        begin = row[3]
        print("before:")
        print(begin)
        begin = clean_and_convert(begin)
        print("after:")
        print(begin)
        print("")
        row[3] = begin
except ValueError:
    print("100% no")

In [0]:
try:
    for row in moma:
        begin = row[3]
        end = row[4]
        begin = clean_and_convert(begin)
        end = clean_and_convert(end)
        row[3] = begin
        row[4] = end
except ValueError:
    print("100% no")

In [0]:
df.head(70)