# White House Visitors

In [4]:
from csv import reader

In [17]:
def explore_data(dataset, start, end, rows_and_columns=False):
    dataset_slice = dataset[start:end]    
    for row in dataset_slice:
        print(row)
        print('\n') # adds a new (empty) line after each row

    if rows_and_columns:
        print('Number of rows:', len(dataset))
        print('Number of columns:', len(dataset[0]))

In [31]:
wh_file = reader(open('wh_2015.csv', encoding='ISO-8859-1'))

In [32]:
wh_list = list(wh_file)

In [24]:
len(wh_list)

970505

In [25]:
wh_list[:1]

[['NAMELAST',
  'NAMEFIRST',
  'NAMEMID',
  'UIN',
  'BDGNBR',
  'ACCESS_TYPE',
  'TOA',
  'POA',
  'TOD',
  'POD',
  'APPT_MADE_DATE',
  'APPT_START_DATE',
  'APPT_END_DATE',
  'APPT_CANCEL_DATE',
  'Total_People',
  'LAST_UPDATEDBY',
  'POST',
  'LASTENTRYDATE',
  'TERMINAL_SUFFIX',
  'visitee_namelast',
  'visitee_namefirst',
  'MEETING_LOC',
  'MEETING_ROOM',
  'CALLER_NAME_LAST',
  'CALLER_NAME_FIRST',
  'CALLER_ROOM',
  'DESCRIPTION',
  'Release_Date']]

In [26]:
explore_data(wh_list, 0, 5, rows_and_columns=True)

['NAMELAST', 'NAMEFIRST', 'NAMEMID', 'UIN', 'BDGNBR', 'ACCESS_TYPE', 'TOA', 'POA', 'TOD', 'POD', 'APPT_MADE_DATE', 'APPT_START_DATE', 'APPT_END_DATE', 'APPT_CANCEL_DATE', 'Total_People', 'LAST_UPDATEDBY', 'POST', 'LASTENTRYDATE', 'TERMINAL_SUFFIX', 'visitee_namelast', 'visitee_namefirst', 'MEETING_LOC', 'MEETING_ROOM', 'CALLER_NAME_LAST', 'CALLER_NAME_FIRST', 'CALLER_ROOM', 'DESCRIPTION', 'Release_Date']


['TAJOURIBESSASSI', 'HANENE', '', 'U22101', '', 'VA', '', '', '', '', '9/2/2015 0:00', '10/1/2015 3:00', '10/1/2015 23:59', '', '1', 'AR', 'WIN', '9/2/2015 11:38', 'AR', 'Pelofsky', 'Eric', 'OEOB', '226', 'ROWBERRY', 'ARIANA', '', '', '1/29/2016']


['bageant', 'laura', 'j', 'U30528', '', 'VA', '', '', '', '', '9/29/2015 0:00', '10/1/2015 5:00', '9/30/2016 23:59', '', '7', 'WW', 'WIN', '9/29/2015 13:42', 'WW', 'Baskerville', 'Steven', 'WH', 'WH Grounds', 'WARDEN', 'WILLIAM', '', '', '1/29/2016']


['Broemson', 'Earl', 'H', 'U30528', '', 'VA', '', '', '', '', '9/29/2015 0:00', '10/1/2015 5:00', '9/30/2016 23:59', '', '7', 'WW', 'WIN', '9/29/2015 14:41', 'WW', 'Baskerville', 'Steven', 'WH', 'WH Grounds', 'WARDEN', 'WILLIAM', '', '', '1/29/2016']


['Jackling Jr', 'William', 'C', 'U30528', '', 'VA', '', '', '', '', '9/29/2015 0:00', '10/1/2015 5:00', '9/30/2016 23:59', '', '7', 'WW', 'WIN', '9/29/2015 13:42', 'WW', 'Baskerville', 'Steven', 'WH', 'WH Grounds', 'WARDEN', 'WILLIAM', '', '', '1/29/2016']


Number of rows: 970505
Number of columns: 28

In [33]:
for person in wh_list:
    if person[0] == 'Norwalk':
        print(person)